<%- include("partials/hearder") %>
<div class="container">
  <div class="mt-4">
    <form action="/items/<%= foundItem._id %>/offers" method="POST" class="mx-auto p-4 w-50">
      <div class="shadow-lg p-4 mb-4 bg-white">
        <div class="form-group">
          <input type="text" class="form-control" name="text" placeholder="offer">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="image" placeholder="image">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="condition" placeholder="condition">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" cols="30" rows="4" placeholder="description">
    </textarea>
        </div>
      </div>
      <div class="shadow-lg p-4 mb-4 bg-white">
        <h2 class="display-4">contact details</h2>
        <div class="form-group">
          <input type="text" class="form-control" name="fullName" placeholder="full Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Address" placeholder="Address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="pNumber" placeholder="phone number">
        </div>
         </div>
         <div class="form-group">
          <button type="submit"  class="btn btn-info">add offer</button>
        </div>
    </form>
</div>
</div>
<%- include("partials/footer") %>